@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  width: 100%;
  font-family: "Mulish", sans-serif;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.navbar {
  width: 100%;
  padding: 40px 0px;
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar_wrapper {
  display: flex;
  align-items: center;
  color: #233348;
}
.navbar_wrapper img {
  margin-right: 10px;
}
.navbar_list {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.menu {
  display: none;
  width: 50px;
  height: 30px;
}
.navbar_list_item {
  padding: 10px 20px;
  color: #e5e5e5;
  transition: all 0.5s;
}
.navbar_list_item:hover {
  color: black;
  font-weight: bold;
}
.header {
  width: 100%;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_info {
  width: 50%;
}
.header_image {
  width: 50%;
}
.header_title {
  font-family: Mulish;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  width: 80%;
  margin-bottom: 25px;
}
.header_text {
  font-family: Mulish;
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  width: 80%;
  margin-bottom: 20px;
}
.header_button {
  padding: 20px 50px;
  border-radius: 55px;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: rgb(131, 131, 240);
  color: white;
  border: none;
}
.services {
  width: 100%;
  padding: 40px 0px;
}
.services_title {
  font-family: Mulish;
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  text-align: center;
  padding-bottom: 35px;
}
.services_title:after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  height: 2px;
  width: 56px;
  background-color: #000000;
}
.services_text {
  font-family: Mulish;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  color: #7d7987;
  width: 88%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.services_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}
.services_item {
  width: 32%;
  box-shadow: 10px 40px 50px 0px #e5e9f666;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
.services_item_title {
  font-family: Mulish;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 6px;
  margin-top: 8px;
}
.services_item_info {
  font-family: Mulish;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #7d7987;
  width: 90%;
}
@media only screen and (max-width: 1200px) {
  .header_title {
    font-size: 36px;
    line-height: 50px;
  }
  .header_text {
    font-size: 16px;
  }
  .header_button {
    padding: 20px 40px;
  }
}
@media only screen and (max-width: 850px) {
  .navbar_list {
    display: none;
  }
  .menu {
    display: block;
  }
  .header_title {
    font-size: 32px;
    line-height: 35px;
  }
  .header_text {
    font-size: 16px;
  }
  .header_button {
    padding: 15px 35px;
  }
}
@media only screen and (max-width: 800px) {
  .header_title {
    font-size: 24px;
    line-height: 20px;
  }
  .header_text {
    font-size: 16px;
  }
  .header_button {
    padding: 15px 25px;
  }
  .services_item {
    width: 48%;
  }
}
@media only screen and (max-width: 700px) {
  .header .container {
    flex-direction: column-reverse;
  }
  .header_info {
    width: 100%;
    text-align: center;
  }
  .header_image {
    width: 100%;
    margin-bottom: 20px;
  }
  .header_title {
    font-size: 34px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .header_text {
    font-size: 20px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
  }
  .header_button {
    padding: 15px 30px;
  }
}
@media only screen and (max-width: 550px) {
    .services_item {
      width: 100%;
      text-align: center;
    }
    .services_item_title{
        font-size: 32px;
        text-align: center;
    }
    .services_item_info{
        font-size: 20px;
        text-align: center;
        width: 100%;
    }

  }
